<main>
  <div class="users">
    <div class="profile">
      <dl class="connections-index">
        <dt>
          Your connections
        </dt>
        <dd>
        <% @my_connections.each do |profile| %>
          <% if relationship_connection(profile.id) == 'connected' %>
            <%= image_tag profile.profile_image %>
            <h4><%= link_to "#{profile.first_name} #{profile.last_name}", profile %></h4>
            <p><%= profile.categories %></p>
          <% end %>
        <% end %>
        </dd>
        <dt>
          Waiting for your approval
        </dt>
        <dd>
          <%= render 'relationships/pending_approval' %>
        </dd>
      </dl>
    </div>
  </div>
</main>
